fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pgvector
python-dotenv
pydantic
pydantic-settings
langchain
langchain-openai
langgraph
openai
pm4py
pandas
numpy
loguru
python-jose[cryptography]
passlib[bcrypt]
python-multipart
sqlparse
